# This runs interactively on `chezmoi init` to set machine-specific values

{{- $email := promptStringOnce . "email" "Git email address" -}}
{{- $machine := promptStringOnce . "machine" "Machine type" -}}

[data]
    email = {{ $email | quote }}
    machine = {{ $machine | quote }}
